@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.spikes {
  position: relative;
  background: #addaed;
  height: 5vh;
  transform: rotate(180deg);
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 30px;
  background-size: 30px 100%;
  background-image: linear-gradient(135deg, #addaed 25%, transparent 25%),
    linear-gradient(225deg, #addaed 25%, transparent 25%);
  background-position: 0 0;
}
